.wrapper{
    height:100%;
    display: flex;
    flex-direction: column;
}

/* header */

header .btnPicBlock{
    margin-left: 73%;
}

/* empty list view */

.empty-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#emptyListPic{
    width: 20%;
    margin: auto;
}

.empty-container h2{
    text-shadow:  3px 3px #85fac1;
    margin: 0 auto;
}

/* full list view */

#animes-container{
    flex: 1 1 auto;
    margin: 60px auto;
    width: 85%;
}

.animes-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 480px;
    grid-gap: 80px;
}

#crossBtnForm{
    width: 12px;
    height: 12px;
    position: absolute;
    right:0;
}

#crossBtn{
    width: 100%;
    height: 100%;
}

.animeBlock{
    border: 3px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.animeBlock:hover{
    box-shadow: 6px 2px 3px #000;
}

.animeTitle{
    text-shadow:  3px 3px #85fac1;
}

.animeLinkPic{
    height: 320px;
    width: 85%;
    margin: 10px auto;
    border: 3px solid black;
}

#animeLinkPic:hover{
    cursor: pointer;
}

.animeCover{
    height: 100%;
    width: 100%;
}

.animeCover:hover{
    cursor: pointer;
}

.animeBlock h3{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
}

#moreBtn{
    width: 100px;
    padding: 8px 4px;
    margin: 5px auto;
}