@font-face {
    font-family: RobotoMono-Regular;
    src: url(fonts/static/RobotoMono-Regular.ttf);
}
@font-face {
    font-family: RobotoMono-Bold;
    src: url(fonts/static/RobotoMono-Bold.ttf);
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-color: #DCC2F8;
    font-family: RobotoMono-Regular;
    position: relative;
}
header{
    position: relative;
    background-color: white;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    height: 70px;
    width: 100%;
    margin: 40px 0 0 0;
    display: flex;
    align-items: center;
}
header #logo{
    height: 55px;
    margin-left: 35%;
}
header #myChosenBtn{
    background-color: #85fac1;
    color:white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 12px 25px;
    position: relative;
    left: 70%;
    font-family: RobotoMono-Bold;
    font-size: 12px;
}
button:hover{
    box-shadow: 6px 2px 3px #000;
}
header #heart{
    height: 45px;
    position: relative;
    left:70%;
}
.backgroundImg{
    position: absolute;
    width: 25%;
    left: 5%;
    top: 25%;
}
.decorator{
    margin: 0 auto;
    top: 0;
    margin-left:3%;
    position: fixed;
    background-color: transparent;
    height: 100%;
    width: 92%;
    border-right: 5px solid black;
    border-left: 5px solid black;
}
footer{
    background-color: black;
    margin: 0;
    margin-top: 80px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
}
.displayBlock{
    background-color: white;
    margin-top: 50px;
    margin-bottom: 0;
    position: relative;
    left: 35%;
    height: 600px;
    width: 55%;
    border: 3px solid black;
    display: flex;
}
.displayBlock:hover{
    box-shadow: 6px 2px 3px #000;
}
.displayBlock img{
    position: relative;
    height:100%;
    margin:0;
}
.displayBlock article{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.displayBlock article h2{ 
    margin: 3% 10%;
    text-shadow:  3px 3px #85fac1;
}
.displayBlock article p{ 
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}
.controlPanel{
    width: 80%;
    height: 70px;
    position: relative;
    bottom: 20%;
    margin: auto;
    display: flex;
    align-items: center;
}
.controlPanel img{
    height:70px;
    margin: auto;
}
.controlPanel img:hover{
    height: 80px;
}
.animeLinkBtn{
    background-color: #85fac1;
    color:white;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    bottom: -10%;
    padding: 12px 25px;
    margin: 0 auto;
    width: 30%;
    font-family: RobotoMono-Bold;
    font-size: 12px;
}
.keyWords{
    text-shadow:  3px 3px #85fac1;
    font-family: RobotoMono-Bold;
}
footer a{
    margin: auto;
    font-size: 13px;
}